.customer-search-container{
    font-size: 1.2rem;
    @media (max-width: 620px) {
        font-size: 0.5rem
    }
    .search-table {
        font-size: inherit;
    }

    .search-table td {
        border: 1px solid #ddd;
        padding-block: 0.2em;
        padding-inline:0.5em;
        white-space: nowrap;
        color: black;
    }

    .table-title {
        td{
            color: white !important;
        }
        text-align: left;
        font-weight: bold;
        @media (max-width: 620px){
            font-size: 1.5em;
        }
    }

    .table-label {
        background-color: #f4f4f4;
        font-weight: bold;
        @media (max-width: 620px){
            font-size: 1.5em;
        }
    }

    .table-input {
        width: auto;
        text-align: left;
        font-size: 1em;
        input{
            width: 100%;
            max-width: 418px;
            @media (max-width:620px){
                max-width: none;
            }
        }
    }

    .table-radio-container{
        display: flex;
        flex-direction: row;
        margin-top: 5px;
        border: none !important;
        gap: 1em;
        label{
            height: 100%;
            display: flex;
            gap: 0.5em;
        }
        @media (max-width:620px) {
            font-size: 1.5em;
        }
    }



    .table-buttons {

        button {
            display: block !important;
            justify-self: space-between;
            font-size: 1.1em;
            margin: auto;
            padding: 0.4em 1em;
            width: 8em;
            background-color: #EFEFEF;
            color: black;
            border: 1px solid black;
            border-radius: 2px;
            cursor: pointer;
                        
            @media (max-width:620px){
                font-size: 1.5em;
                padding: 0.4em 0.5em;
            }
            &:hover{
                filter: brightness(95%);
            }
            a{
                &:hover{
                    color: black;
                }
            }
        }
    }
}

input{
    padding: 0.1em;
}

select{
    border-color: transparent;
    background-color: transparent !important;
    min-width: 156px;
    &:focus{
        border: 1px solid #bbb;
        border-radius: 2px;
    }
}

.title-selector{
    color: white;
    width: fit-content;
    min-width: unset;
    margin-left: -0.3em;
    option{
        color: black;
    }
}

//상호명, 담당기사 선택
.classification{
    width: 100%;
    margin-left: -0.4em;
    font-weight: 500;
    min-width: unset;
    min-width: 120px;
    font-size: 1.3rem;
    @media (max-width: 620px){
        margin-left: none;
        font-size: 1.12em;
        font-weight: 550;
    }
}

.sub-buttons-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: right;
    gap: 0.5rem;
    font-size: 1rem;
    margin-block: 0.5rem;
    
    @media (max-width:620px){
        font-size: 0.5rem;
    }


    button{
        padding: 0.4em;
        font-size: 1.2em;
        @media (max-width:620px){
            padding-inline: 0.6em;
            font-size: 1.4em;
        }
    }
}