@use '@/styles/_variables.scss' as var;

.customer-result-table{
    font-size: 1.2rem;
    margin-top: 0.5rem;
    width: 100%;
    margin-top: 1rem;
    tbody{
        tr{
            border-bottom: 1px solid var.$default-border-color;
            height: 30px;
            &:hover{
                background-color: rgb(197,202,254);
            }
        }
    }
    td{
        text-align: center;
    }
    @media (max-width:620px){
        font-size: 0.7rem;
        margin-top: 0.5rem;
    }
}

.left-align{
    text-align: left !important;
}