@use '@/styles/_variables.scss' as var;


@keyframes FadeInSlide {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes FadeOutSlide {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100%);
        display: none;
    }
}

.nav-mobile-container{
    height: calc(100% - 40px);
    margin-top: 40px;

    font-size: 1rem;
    flex-direction: row;
    right: 0;
    display: none;
    animation: FadeOutSlide 0.2s ease-out forwards; 
    border-left: 1px solid var.$default-border-color;
    @media (max-width : 620px){
        display: flex;
    }
    position: absolute;
    background-color: white;
    z-index:1001
}

.slide{
    animation: FadeInSlide 0.2s ease-out forwards; 
}

.opacity{
    opacity:0
}


.nav-mobile-wrapper{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.nav-mobile-wrapper{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.nav-mobile-ul{
    padding-inline: 0.5rem;
    display: block;
    
    li{
        margin-block:0.5rem;
        display: flex;
        justify-content: center;
        border-radius: 3px;
        padding: 0.5rem;
        &:hover{
            background-color:  #e9e9e9;
            a{
                color:black !important;
            }
        }
    }
}

.mobile-logout-button{
    width: calc(100% - 1rem);
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #699AC9;
    border: none;
    color: var.$default-white-color;
    padding:0.5rem;
    margin: 0.5rem;
    border-radius: 5px;
    cursor: pointer;
}

.hover{
    background-color:  #699AC9;
    a{
        color: var.$default-white-color !important;
    }
}
