/* aside 에서 선택한 옵션*/

.main-screen-container{
    margin-inline: 1rem;
    font-size: 1rem;
}
.main-route-title{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
    
    @media (max-width: 620px){
        font-size: 1rem;
    }
}


