@use '@/styles/_variables' as var;
@use '@/styles/_mixin.scss' as mixins;


.receipt-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:8px;
    margin-bottom: 10px;  
    h4{
      margin: 0;
      font-size: 18px;  
    }
}
.register-receipt-container{
    margin: 0 auto;
    padding: 5px;
    box-sizing: border-box;
}


.receipt-table-container{
    margin-top: 10px;
    width: 100%;
    border-collapse: collapse;
    font-size: 13px;

    
    thead{
        background-color: #8091A7;
        background-image: url('../../../../../assets/bg_img.gif');
        background-repeat: repeat-x;
        
        tr{
            background-color: transparent;
        }
        td{
            background-color: transparent;
            color: white !important;
            text-align: center;
            padding: 3px;
            border: 1px solid var.$default-border-color;
            font-weight: 500;
        }
    }

    tbody{
        td{
            height: 20px;
            text-align: center;
            border:1px solid var.$default-border-color;
            background-color:white;
        }
    }

}


