.company-table{
    font-size: 1.2rem;
    @media (max-width: 620px) {
        font-size: 0.7rem
    }
    tbody{
        tr{
            &:hover{
                background-color: rgb(197,202,254);
            }
        }
    }
    td {
        border: 1px solid #ddd;
        padding-block: 0.1em;
        padding-inline:0.5em;
        white-space: nowrap;
        color: black;
        text-align: center;
        input{
            width: 100%;
            max-width: 418px;
            @media (max-width:620px){
                max-width: none;
            }
        }
    }
    thead{
        tr{
            height: 25px;
        }
    }

    .table-title {
        td{
            color: white !important;
        }
        text-align: left;
        font-weight: bold;
        @media (max-width: 620px){
            font-size: 1.5em;
        }
    }

    .table-label {
        background-color: #f4f4f4;
        font-weight: bold;
        @media (max-width: 620px){
            font-size: 1.5em;
        }
    }

 
    .table-buttons {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        button {
            display: block !important;
            justify-self: space-between;
            font-size: 1.1em;
            margin: auto;
            padding: 0.5em;
            width: 6em;
            background-color: #EFEFEF;
            color: black;
            border: 1px solid black;
            border-radius: 2px;
            cursor: pointer;
            font-size: 1.1em;
     
            @media (max-width:620px){
                font-size: 1.5em;
                padding: 0.4em 0.5em;
            }
            &:hover{
                filter: brightness(95%);
            }
            a{
                &:hover{
                    color: black;
                }
            }
        }
    }
    
}


.company-search-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5px;
    h4{
        font-size: 1.3rem;
        margin-right: 5px;
        @media (max-width: 620px) {
            font-size: 0.8rem;
        }
    }
    input{
        margin-right: 5px;
    }
    button{
        padding-inline: 5px;
    }
}


.is-click{
    background-color: rgb(197,202,254);
}
.none-hover{
    &:hover{
        background-color: transparent !important;
    }
}

.company-button-container{
    width: 100%;
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    button{
        padding-inline: 5px;
    }
}
.icon{
    cursor: pointer;
}