.error-box{
    position: absolute;
    display: flex;
    flex-direction: row;
    padding: 5px;
    border-radius: 3px;
    background-color: black;
    color: white;
    font-size: 11px;
    gap: 5px;
    align-items: center;
    justify-content: center;
  }
  .error-icon-wrapper{
    width: 10px;
    height: 10px;
    padding: 2px;
    background-color: rgb(250, 211, 37);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    color: black;
  }