@use '@/styles/_variables.scss' as var;



.customer-form-container{
  width: 100%;

}
.customer-form-table{
  table-layout: auto;
  width: 100%;
  border-collapse: collapse;
  font-size: 0.8rem;
  @media (max-width: 620px) {
      font-size: 1rem
  }
  input{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
  }
  textarea{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    resize: none;

  }
  td{
    border: 1px solid var.$default-border-color;
    white-space: nowrap;
    color: black;
    padding-inline: 4px;
  }

  .zip-code-input{
    max-width: 80px;
    margin-inline: 5px;
  }

  .table-label {
    background-color: #f4f4f4;
    text-align: center;
  }
}
.label-selector{
  border: none;
}

.button-container{
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: center !important;
  margin-top: 1rem;
  button{
    width: 100px;
    height: 30px;
  }
}

@media print {
  .button-container {
    display: none; // 버튼 숨김
  }
}

.memo{
  height:43px !important;
}