@use '@/styles/_variables.scss' as var;
@use '@/styles/_mixin.scss' as mixins;

.search-container{
    font-size: 1.2rem;
    @media (max-width: 620px) {
        font-size: 0.5rem
    }
    .search-table td {
        border: 1px solid #ddd;
        padding-block: 0.2em;
        padding-inline:0.5em;
        white-space: nowrap;
        color: black;
    }

    .table-title {
        td{
            color: white !important;
        }
        text-align: left;
        font-weight: bold;
        @media (max-width: 620px){
            font-size: 1.5em;
        }
    }

    .table-label {
        width: fit-content;
        background-color: #f4f4f4;
        font-weight: bold;
        text-align: left;
        @media (max-width: 620px){
            font-size: 1.5em;
        }
    }

    .table-input {
        width: auto;
        text-align: left;
        font-size: 1em;
        input{
            width: 100%;
            max-width: 418px;
            @media (max-width:620px){
                max-width: none;
            }
        }
    }
    .date-input{
        max-width: 200px !important;
    }

    .flex-row {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }

    .table-buttons {
        button {
            font-size: 1.2em;
            margin: 0.2em auto;
            padding: 0.4em 1em;
            width: 8em;
            display: block;
            background-color: #EFEFEF;
            color: black;
            border: 1px solid black;
            border-radius: 2px;
            cursor: pointer;
            &:hover{
                filter: brightness(95%);
            }
            @media (max-width:620px){
                font-size: 1.4em;
                padding: 0.5em 1em;
            }
            a{
                &:hover{
                    color: black;
                }
            }
        }
    }
}

input{
    padding: 0.1em;
}

select{
    border-color: transparent;
    background-color: transparent !important;
    &:focus{
        border: 1px solid #bbb;
        border-radius: 2px;
    }
}