@use '@/styles/_variables.scss' as var;

.custom-date-container{
    width: 100%;
    height: 100%;
    position: relative;
    box-sizing: border-box;
    border: 1px solid var.$input-border-color;
    background-color: white;
    cursor: pointer;
    padding: 2px;
    display: flex !important;
    flex-direction: row !important;
    align-items: center;
    justify-content: space-between;
    &:has(input:focus) {
        outline: 1px solid black !important;
        border: 1px solid black !important;
        border-radius: 3px;
    }

    input[type="date"]::-webkit-datetime-edit-year-field,
    input[type="date"]::-webkit-datetime-edit-month-field,
    input[type="date"]::-webkit-datetime-edit-day-field {
        visibility: hidden;
    }
    input{
        all:unset;
        flex-shrink: 0 !important;
        padding: 0 !important;
        border: unset !important;
    }

}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.custom-date{
    width: 20px !important;
    cursor: pointer !important;
    color:transparent !important;
}

input[type="date"].custom-date {
    color: transparent !important;        
}
  
input[type="date"].custom-date::-webkit-calendar-picker-indicator {
    opacity: 1;
    cursor: pointer;
}

.custom-year{
    width: 4ch !important;
    min-width: 2ch;
    text-align: right !important;
}
.custom-month{
    width: 2ch !important;
    text-align: right !important;
}
.custom-day{
    width: 2ch !important;
    min-width: 10px;
    text-align: right !important;
}
.custom-date-wrapper{
    width: calc(100% - 20px);
    height: 100%;
    position: relative;
    box-sizing: border-box;
    display: flex !important;
    flex-direction: row !important;
    align-items: center;
    justify-content: left !important;
    gap:3px;
}

.absolute-date{
    position: absolute !important;
    margin-top: 10px !important;
    width: 0 !important;
}