@use './_variables' as var;
@use '@/styles/_mixin.scss' as mixins;

*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-family: Tahoma, "굴림", sans-serif;
  font-size: 12.5px;
  background-color: var.$bg-color;
  width: 100%;
  height: 100%;
}
body{
  width: 100%;
  height: 100%;
}
@media (max-width:760px) {
  html {
    font-size: 12px;
  }
}
// @media (max-width:700px) {
//   html {
//     font-size: 11px;
//   }
// }


@media (max-width: 620px) {
  html {
    font-size: 14px;
    ::-webkit-scrollbar{
      display:none;
    }
    overflow: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
}
@media (max-width: 570px) {
  html {
    zoom: 95%;
  }
}
@media (max-width: 520px) {
  html {
    zoom: 90%;
  }
}
@media (max-width: 480px) {
  html {
    zoom: 80%;
  }
}
@media (max-width: 420px) {
  html {
    zoom: 75%;
  }
}




a{
  text-decoration: none;
  color:black;
  cursor: pointer;
  &:hover{
    color: #FF9900;
  }
  &:link{
    color: #444444;
    text-decoration: none;
  }
  &:active {  
    color: #333333;
    text-decoration: none
  }
}

li{
  list-style-type: none;
  &:hover{
    filter: brightness(95%);
  }
}
button{
  cursor: pointer;
  &:hover{
    filter: brightness(95%);
  }
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #EFEFEF;
  color: black;
  border: 1px solid black;
  border-radius: 2px;
}

span{
  display: flex;
  align-items: center;
}
i{
  cursor: pointer;
}
option[value="disabled"][disabled] {
  display:none
}
input{
  border-radius: 2px !important;
}

.flex-row{
  display: flex;
  flex-direction: row;
}

.full-screen{
  width: 100%;
  height: 100%;
}
.block{
  display: block;
}

.center{
  display: flex;
  align-items: center;
  justify-content: center;
}



.modal-background{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1001;

  .main{
    width: 90%;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
    background-color: white;
    z-index: 1002;
    overflow-y: auto;
    max-width: 600px;
    padding-bottom: 15px;
    .close-button-container{
      width: 100%;
      display: flex;
      justify-content: right;
      button{
        width: 15px;
        height: 15px;
        display: flex;
        justify-content: center;    // 가로 정렬
        align-items: center;        // 세로 정렬 (여기 중요!)
        text-align: center;
        padding: 0;
        background: none;
        cursor: pointer;
        border: 1px solid black;
      }
    }
  }
}

table{
  table-layout: auto;
  border-collapse: collapse;
  width: 100%;

    thead{
      background-color: #8091A7;
      background-image: url('../public/assets/bg_img.gif');
      background-repeat: repeat-x;
      
      tr{
          background-color: transparent;
      }
      td{
          background-color: transparent;
          color: white !important;
          text-align: center;
          padding: 3px;
          border: 1px solid var.$default-border-color;
          font-weight: 500;
      }
    }
}