$bg-color: #F7F7FA;

$header-color : #8091A7;
$default-white-color : #E6E8ED;
$default-table-font-color :#202225;
$default-border-color :#C5C3C6;
$default-point-color: #007bff;
$memo-color : rgb(255, 251, 222);