@use '@/styles/_variables' as var;

.total-buttons-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: right;
    gap: 0.5rem;
    margin-top: 10px;

    button{
        min-width: 70px;
        box-sizing: border-box;
        padding: 0.4em;
    }
}