@use '@/styles/_variables.scss' as var;
@use '@/styles/_mixin.scss' as mixins;


.header-container{
    width: 100%;
    height: 30px; //3rem;
    padding: 0.7rem;
    box-sizing: border-box;
    display: flex;
    position: fixed;

    @include mixins.table-gradient-background;
    color: var.$default-white-color;

    background-color: var.$header-color;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index:1001;

    font-size: 12px;
    span{
        color: inherit;
        min-width: 0; 
    }

    @media (max-width : 620px){
        height: 40px;
        font-size: 0.8rem;
    }
}
.header-content{
    display: flex;
    align-items: center;
    gap: 10px; 

    &:has(.header-depart){
        color:white;
        font-weight: 400;
    }
}


.header-content.left{
    flex-shrink: 0; 
}

.header-content.right {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-shrink: 1;
    @media (max-width: 620px){
        display: none !important;
    }
}

.header-lastOnline {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 1rem;
}

  
.header-lastOnline {
    flex-shrink: 1; 
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
    min-width: 0; 
}


.logout-button{
    cursor: pointer;
    display: flex;
    align-items: center;
    background-color: #215986;
    padding-inline: 1rem;
    border: none;
    color: var.$default-white-color;
    flex-shrink: 0; 
    gap: 0.5rem;
    border-radius: 5px;
}


