@use '@/styles/_variables.scss' as var;

.search-result-table{
    margin-top: 0.5rem;
    width: 100%;
    
    thead{
        background-color: #8091A7;
        background-image: url('../../public/assets/bg_img.gif');
        background-repeat: repeat-x;
        
        tr{
            background-color: transparent;
        }
        td{
            background-color: transparent;
            color: white !important;
        }
      }
    tbody{
        tr{
            border-bottom: 1px solid var.$default-border-color;
            height: 30px;
            
            &:hover{
                background-color: rgb(197,202,254);
            }
        }
    }
    
    td{
        text-align: center;
        padding-inline: 2px;
        select{
            border-color: transparent;
            background-color: transparent !important;
            font-size: 1.1em;
            color: black;
            &:focus{
                border: 1px solid #bbb;
                border-radius: 2px;
            }
            @media (max-width: 620px){
                font-size: 1em;
            }
        }
        button{
            padding: 1px 5px;
            font-size: 0.9rem !important;
        }
    }


    .row-flex{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

}
.is-click{
    background-color: rgb(197,202,254);
}

.icon{
    cursor: pointer;
}
.left-align{
    text-align: left !important;
}
.right-align{
    text-align: right !important;
}

.none-hover{
    &:hover{
        background-color: transparent !important;
    }
}


     
.filter-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5px;
    h4{
        margin-right: 5px;
    }
    input{
        margin-right: 5px;
        width: calc(100% - 200px);
        
    }
    button{
        padding-inline: 5px;
        margin-right: 5px;
    }
}

.mobile{
    tbody{
        tr{
            height: 25px;
            background-color: inherit !important;
            border: unset !important;
            td{
                text-align: center;
            }
        }
        border-bottom: 1px solid var.$default-border-color;
        &:hover{
            background-color: rgb(197,202,254);
        }
    }
}

.search-title{
    font-size: 2rem;
    text-decoration: underline;
    margin-block: 1rem;
    text-align: center;
    @media(max-width:620px){
        font-size: 1.5rem;
    }
}
.search-date-container{
    text-align: right;
    font-size: 0.95rem;
}

.hover-text{
   a{
    &:hover{
        color: #FF9900;
      }
   }
}

.grid-table-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    table{
        tr{
            height: 25px !important; 
        }
    }
}
