@use '@/styles/_variables.scss' as var;

.search-container{
    
    .search-table thead{
        padding-block:5px;
    }

    .search-table td {
        border: 1px solid #ddd;
        padding-block: 2px;
        padding-inline:4px;
        white-space: nowrap;
        color: black;
        input{
            font-size: inherit;
            width: 100%;
            max-width: 280px;
            border-color: var.$input-border-color !important;
        }
        select{
            font-size: inherit;
            width: auto;
            margin-left: -4px;
            font-weight: 500;
            min-width: unset;
            @media (max-width: 620px){
                margin-left: none;
                font-weight: 550;
            }
        }
    }

    .table-title {
        color: white !important;
        height: 20px;
        font-size: 0.95rem;
        text-align: left;
        font-weight: bold;
        
    }

    .table-label {
        background-color: #f4f4f4;
        font-weight: bold;

    }

    

    .table-radio-container{
        div{
            width: 100%;
            display: flex;
            flex-wrap: wrap;  
            flex-direction: row;
            align-items: center;
            gap: 6px;

            label{
                height: 100%;
                display: flex;
                gap: 2px;
                cursor: pointer;
            }
            input{
                width: fit-content !important;
            }
            @media(max-width:620px){
                font-size: 0.9rem;
            }
        }
    }

    .lock{
        color: #bbb;
    }

    .dates-container{
        display: flex;
        gap:5px;
        align-items: center;
        .custom-date-container{
            max-width: 130px;
            @media(max-width:620px){
                font-size: 0.95rem;
            }
        }
    }


    .table-buttons,
    .grid-table-buttons {
        button {
            margin: 2px;
            display: block;
            padding-block: 5px;
            background-color: #EFEFEF;
            color: black;
            border: 1px solid black;
            border-radius: 2px;
            box-sizing: border-box;
            cursor: pointer;
            width: 7rem;
            font-size: 1rem;
            text-align: center;
            &:hover {
                filter: brightness(95%);
            }
    
            a {
                &:hover {
                    color: black;
                }
            }
        }
    }
    
    .grid-table-buttons {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    
        button {
            display: block !important;
            justify-self: space-between;
            margin: auto;
            @media(max-width:620px){
                width: 5.5rem;
                font-size: 0.9rem;
            }
        }
    }
}

input{
    padding: 2px;
}


select{
    border-color: transparent;
    background-color: transparent !important;
    color: black;
    &:focus{
        border: 1px solid #bbb;
        border-radius: 2px;
    }

}

.title-selector{
    color: white;
    width: fit-content;
    min-width: unset;
    margin-left: -0.3em;
    font-size: 1rem !important;
    option{
        color: black;
        font-size: inherit;
    }
}



.classification-label{
        padding: 0 !important;
        zoom: 105%;
}

.td-gap{
    select{
        margin-right: 10px;
    }
}

.one-line-buttons{
    border: unset !important;
    border-top: unset !important;
   div{
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    justify-content: right;
    button{
        margin: 2px;
        display: block;
        padding-block: 3px;
        background-color: #EFEFEF;
        color: black;
        border: 1px solid black;
        border-radius: 2px;
        box-sizing: border-box;
        cursor: pointer;
        width: 7rem;
        font-size: 1rem;
        text-align: center;
        &:hover {
            filter: brightness(95%);
        }

        a {
            &:hover {
                color: black;
            }
        }
    }
   }
    
}

.right-buttons-container{
    width: 100%;
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content:right;
    button{
        padding-inline: 5px;
    }
}