@use '@/styles/_variables.scss' as var;

.staff-cate-table{
    max-width: 444px;
    font-size: 1.2rem;
    @media (max-width:620px) {
        font-size: 0.8rem;
        max-width: none;
        width: 100%;
    }
    tr{
        border-bottom: 1px solid var.$default-border-color;
    }
    td{
        text-align: center;
    }
    button{
        width: 100%;
    }
}

.left-align{
    text-align: left !important;
}
.cate-button-container{
    max-width: 444px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 0.5rem;
    gap: 0.5rem;

    @media (max-width:620px) {
        font-size: 0.8rem;
        max-width: none;
        width: 100%;
    }
    button{
        padding: 0.2rem;
    }
}

.staff-cate-input{
    all: inherit;
    width: 100%;
    height: 22px;
    margin-left: -1px;
    border: 1px solid black !important;
    &:focus{
        background-color: rgb(255, 251, 222);
    }
    &::placeholder{
        color:silver;
    }
    @media (max-width:620px) {
        font-size: 0.8rem;
    }
}