.staff-table{
    font-size: 1.2rem;
    @media (max-width: 620px) {
        font-size: 0.65rem
    }
    tbody{
        tr{
            &:hover{
                background-color: rgb(197,202,254);
            }
        }
    }
    td {
        border: 1px solid #ddd;
        padding-block: 0.1em;
        padding-inline:0.5em;
        white-space: nowrap;
        color: black;
        text-align: center;
    }
    thead{
        tr{
            height: 25px;
        }
    }
    
}


.staff-search-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5px;
    h4{
        font-size: 1.2rem;
        margin-right: 5px;
        @media (max-width: 620px) {
            font-size: 0.7rem;
        }
    }
    input{
        margin-right: 5px;
    }
    button{
        padding-inline: 5px;
    }
}

.is-click{
    background-color: rgb(197,202,254);
}
.none-hover{
    &:hover{
        background-color: transparent !important;
    }
}