@use '@/styles/_variables.scss' as var;

.nav-container{
    width: 100%;
    background-color: #ececec;
    display: flex;
    color: var.$default-white-color;
    padding: 0.5rem;
    box-sizing: border-box;
    align-items: center;
    font-size: 1.2rem;
    border-bottom: 1px solid var.$default-border-color;
    margin-top: 30px;
    position: fixed;
    @media (max-width: 620px){
        display: none !important;
    }
}


.nav-container__ul{
    display: flex;
    flex-direction: row;
    li{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        align-items: center;
        flex-shrink: 1;
        min-width: 0;
        b{
            color: black;
            margin-inline: 0.4rem;
            
            @media (max-width:767px) {
                margin-inline: 0.3rem;
            }
        }
    }
}