body {
    /*    BACKGROUND-COLOR: #66798C; */
    /*BACKGROUND-IMAGE: url('');*/
    background-repeat: repeat-x;
    font-family: Tahoma, ����;
}

.introBody {
    BACKGROUND-COLOR: #FFFFFF;
}

th, td, textarea, option {
    font-size: 9pt
}

a:link {
    color: #444444;
    text-decoration: none
}

a:active {
    color: #333333;
    text-decoration: none
}

a {
    text-decoration: none;
    color: black
}

a:hover {
    color: #FF9900;
    text-decoration: none
}

th {
    background: green;
    color: white
}

img {
    BORDER-RIGHT: medium none;
    BORDER-TOP: medium none;
    BORDER-LEFT: medium none;
    BORDER-BOTTOM: medium none
}

.img {
    border: #666666;
    border-style: solid;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px
}

.inputbox {
    font-size: 9pt;
    color: #000000
}

.checkbox {
    background-color: #FFFFFF;
    border: #000000;
    border-style: solid;
    font-size: 9pt;
    color: #000000;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
}

.selectbox {
    background-color: #FFFFFF;
    border: #999999;
    border-style: none;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    font-size: 9pt;
    color: #000000
}

.textbox {
    font-size: 9pt;
    color: #000000;
    background-color: #FFFFFF;
}

.bgimg {
    border: 2px solid #C6C6C6
}

.clsTableTitle {
    text-align: center;
    FONT-SIZE: 12px;
    font-family: Tahoma, ����;
    BACKGROUND-COLOR: #8091A7;
    COLOR: #FFFFFF;
    border-top: #ADB7BF 1px solid;
    border-left: #ADB7BF 1px solid;
    border-right: #5B6F80 1px solid;
    border-bottom: #5B6F80 1px solid;

}

.btnSubmit {
    font-family: ����;
    font-size: 9pt;
}

.btnSubmitBig {
    font-size: 9pt;
    width: 100px;
    height: 30px;
}

.tdDocu {
    padding-left: 10px;
    line-height: 20px;
}

.lineHeight {
    line-height: 20px;
}

.paddingLeft {
    text-align: left;
    padding-left: 5px;
}

.paddingRight {
    text-align: right;
    padding-right: 5px;
}

.caution {
    font-family: Tahoma, ����;
    font-size: 9pt;
    color: #FF0000;
    line-height: 20px;
}

.listrev {
    font-family: Tahoma, ����;
    font-size: 9pt;
    color: #ffffff;
    background-color: #6a5f4c;
}

/* �Խ��� ��ȣ,����,�۾��� �� */
.bdTitle {
    BACKGROUND-COLOR: #8091A7;
    /*BACKGROUND-IMAGE: url('/img/bdt_bg.gif');*/
    background-repeat: repeat-x;
    FONT-SIZE: 12px;
    font-family: Tahoma, ����;
    COLOR: #FFFFFF;
    /*HEIGHT: 24;*/
}

.bdTD {
    text-align: center;
    FONT-SIZE: 12px;
    font-family: Tahoma, ����;
    COLOR: #FFFFFF;
    border-top: #ADB7BF 1px solid;
    border-left: #ADB7BF 1px solid;
    border-right: #5B6F80 1px solid;
    border-bottom: #5B6F80 1px solid;
}

.bdList {
    BACKGROUND-COLOR: #FFFFFF;
    text-align: center;
    /*	HEIGHT:24;	*/
    FONT-SIZE: 12px;
    font-family: Tahoma, ����;
    COLOR: #000000;
}

.bdLine {
    /*HEIGHT: 1;*/
    BACKGROUND-COLOR: #CACACA;
}

/* �Խ��� ���й� */
.bar {
    BACKGROUND-COLOR: #66798C;
    /*HEIGHT: 4;*/
}

/* fraLeft ���� �޴� ���� ���� */
.bodyBackColor {
    BACKGROUND-COLOR: #FFFFFF;
    /*BACKGROUND-IMAGE: url('');*/
    background-repeat: repeat-x;
}

/* ������ ���̺� */
.conTop {
    /*HEIGHT: 3;*/
    BACKGROUND-COLOR: #66798C;
}


.conTD {
    text-align: center;
    BACKGROUND-COLOR: #F5F5F5;
}


.conLine {
    /*HEIGHT: 1;*/
    BACKGROUND-COLOR: #D8D8D8;
}

/*�Ⱥ��̴� �Է�â*/
.input_none {
    /*border: solid 1 #FFFFFF;*/
    font-family: Tahoma, ����;
    font-size: 12px;
    line-height: 120%;
    BACKGROUND-COLOR: #FFFFFF;
}

/* �� ������������ ��� */
.input_cal {
    /*border: solid 1 #FFFFFF;*/
    font-family: Tahoma, ����;
    font-size: 11px;
    line-height: 120%;
    BACKGROUND-COLOR: #FFFFFF;
}

.noprint {
    display: none
}

input.calendar {
    font-size: 9pt;
    color: #000000;
    background-color: #FFFFFF;
    /*behavior: url(/scripts/htc_calendar2.htc);*/
}


.blackTd {
    border: #000000;
    border-style: solid;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    font-size: 9pt;
    color: #000000
}

.blackTd1 {
    border: #000000;
    border-style: solid;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 0px;
    border-left-width: 1px;
    font-size: 9pt;
    color: #000000
}

.blackTd2 {
    border: #000000;
    border-style: solid;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    font-size: 9pt;
    color: #000000
}

.blackTd3 {
    border: #000000;
    border-style: solid;
    border-top-width: 1px;
    border-right-width: 0px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    font-size: 9pt;
    color: #000000
}

.blackTd4 {
    border: #000000;
    border-style: solid;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    font-size: 9pt;
    color: #000000
}

.blackTd5 {
    border: #000000;
    border-style: solid;
    border-top-width: 1px;
    border-right-width: 0px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    font-size: 9pt;
    color: #000000
}

.blackTd6 {
    border: #000000;
    border-style: solid;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    font-size: 9pt;
    color: #000000
}

.blackTd7 {
    border: #000000;
    border-style: solid;
    border-top-width: 0px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    font-size: 9pt;
    color: #000000
}

.blackTd8 {
    border: #000000;
    border-style: solid;
    border-top-width: 1px;
    border-right-width: 0px;
    border-bottom-width: 1px;
    border-left-width: 0px;
    font-size: 9pt;
    color: #000000
}

.blackTd9 {
    border: #000000;
    border-style: solid;
    border-top-width: 1px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    font-size: 9pt;
    color: #000000
}

.bottomLine {
    border: #000000;
    border-style: solid;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 1px;
    border-left-width: 0px;
    font-size: 9pt;
    color: #000000
}

.blackLeft {
    border: #000000;
    border-style: solid;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 0px;
    border-left-width: 1px;
    font-size: 9pt;
    color: #000000;
}

.blackCenter {
    border: #000000;
    border-style: solid;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    font-size: 9pt;
    color: #000000;
}

.blackRight {
    border: #000000;
    border-style: solid;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    font-size: 9pt;
    color: #000000;
}

.blackLeftBottom {
    border: #000000;
    border-style: solid;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    font-size: 9pt;
    color: #000000;
}

.blackCenterBottom {
    border: #000000;
    border-style: solid;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 0px;
    font-size: 9pt;
    color: #000000;
}

.blackRightBottom {
    border: #000000;
    border-style: solid;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 0px;
    font-size: 9pt;
    color: #000000;
}


.grayCenter {
    border: #AFAFAF;
    border-style: solid;
    border-top-width: 0px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 0px;
    font-size: 9pt;
    color: #000000;
}

.grayRight {
    border: #AFAFAF;
    border-style: solid;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 1px;
    border-left-width: 0px;
    font-size: 9pt;
    color: #000000;
}

.grayCenter2 {
    border: #AFAFAF;
    border-style: solid;
    border-top-width: 0px;
    border-right-width: 1px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    font-size: 9pt;
    color: #000000;
}

.grayRight2 {
    border: #AFAFAF;
    border-style: solid;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    font-size: 9pt;
    color: #000000;
}

.blackLeft2 {
    border: #000000;
    border-style: solid;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 0px;
    font-size: 9pt;
    color: #000000;
}

.blackCenter2 {
    border: #000000;
    border-style: solid;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 0px;
    font-size: 9pt;
    color: #000000;
}

.blackRight2 {
    border: #000000;
    border-style: solid;
    border-top-width: 1px;
    border-right-width: 0px;
    border-bottom-width: 1px;
    border-left-width: 0px;
    font-size: 9pt;
    color: #000000;
}

.blackBorder {
    border: #000000;
    border-style: solid;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    font-size: 9pt;
    color: #000000;
}

.estimate1 {
    font-family: Tahoma, ����;
    font-size: 10pt;
}

.basicTable {
    BACKGROUND-COLOR: #B4B4B4;
}

.basicTop {
    BACKGROUND-COLOR: #F5F5F5;
}


.basicList {
    BACKGROUND-COLOR: #FFFFFF;
}