.estimate-container {
  font-family: '궁서', Tahoma, sans-serif;
  width: 700px;
  margin: 0 auto;
  background-color: white;
}

.stamp-layer {
  position: absolute;
  left: 640px;
  top: 110px;
  z-index: 1;
}

.title {
  font-size: 52px;
  text-align: left;
  margin-bottom: 14ppx;
}

.estimate-header-table{
  width: 100%;
  table-layout: auto;
  border-collapse: collapse;
  font-size: 18px;
  table{
    table-layout: auto;
    border-collapse: collapse;
  }
    tr{
      height: 30px;
      td{
        border: transparent;
      }
    }

}

.estimate-footer-table{
  table-layout: auto;
  border-collapse: collapse;
  width: 100%;
  font-size: 15px;
  margin-top: 10px;
  tr{
    height: 15px !important;
  }
}


.customer {
  display: flex;
  justify-content: space-between;

  .info-space {
    padding: 4px 0;
    font-size: 18px;
  }
}

.total-hangul {
  font-size: 16px;
}

.stock-table {
  width: 100%;
  border-collapse: collapse;

  th, td {
    border: 1px solid black;
    font-size: 15px;
    padding: 5px;
    text-align: center;
  }
  thead{
    td{
      font-size: 16px !important;
    }
  }

}

