.main-view-container{
    width:calc(100% - 210px - 2rem);
    height: fit-content;
    @media (max-width: 1023px){
        width:calc(100% - 180px - 2rem);
    }
    @media (max-width: 767px){
        width:calc(100% - 150px - 2rem);
    }
    @media (max-width: 620px){
        width: 100%;
    }

    margin-inline: 1rem;
    font-size: 1rem;
}