.main-view-container{
    width:calc(100% - 15rem);
    height: fit-content;
    position :relative;
    margin-inline: 1rem;
    font-size: 1rem;
    margin-left: 14rem;

    @media (max-width: 620px){
        width: 100%;
        margin-left: 1rem;
    }
}

.main-layout-wrapper{
    width: 100%;
    overflow-y: auto;
    display: flex;
    position :relative;
    flex-direction: row;    
    padding-block: 1.5rem;
    padding-block: 70px;

    @media (max-width:692px){
        padding-top: 80px;
    }
    @media (max-width:620px){
        padding-top: 50px;
    }
    
}
@media print {
    .main-view-container {
      width:100%;
      margin-left: 1rem;
    }
  }