@use '@/styles/_variables' as var;

.total-buttons-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: right;
    gap: 0.5rem;
    font-size: 1rem;
    margin-block: 0.5rem;
    
    @media (max-width:620px){
        font-size: 0.5rem;
    }


    button{
        padding: 0.4em;
        font-size: 1.2em;
        @media (max-width:620px){
            padding-inline: 0.6em;
            font-size: 1.4em;
        }
    }
}