@use '@/styles/_variables.scss' as var;
@use '@/styles/_mixin.scss' as mixins;

.aside-container{
    display: block;
    align-items: center;
    border: 1px solid var.$default-border-color;
    border-bottom: none;
    margin-left: 0.2rem;
    width:13rem;
    height: fit-content;
    


    @media (max-width: 620px){
        display: none !important;
    }

    li{
        padding-block: 0.4rem;  
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        border-bottom: 1px solid var.$default-border-color;
    }
}

.aside-header{
    @include mixins.table-gradient-background;
    font-weight: bold;
    padding : 0.5rem;
    color: white;
    display: flex;
    justify-content: center;
}