/* aside 에서 선택한 옵션*/

.header-title{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
    margin-bottom: 0.7rem;
    font-size: 14px;
    @media (max-width: 620px){
        font-size: 1rem;
        margin-bottom: 0.5rem;
    }
}



@media print {
    .header-title{
      display: none;
    }
  }