
@use '@/styles/_variables.scss' as var;

.summary-container{
    width: 100%;
    thead{
        background-image: none;
        background-color: transparent;
        color: black;

       td{
            font-size: 1.6em;
            height: 1em;
            color: black !important;
            border: none;
            text-align: left;
            @media (max-width:620px){
                font-size: 1.4em;
            }
       }
       
    }

    tbody{
        td{
            font-size: 1.4em;
            border: none;
            border-bottom: 1px solid var.$default-border-color;
            margin-block: 0.2rem;
            padding-right: 0.2rem;
            background-color: transparent;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    }
}